<section class="horizontal-form">
  <div class="container-fluid">
    {{!-- This partial contains the quantity, name, and description fields --}}
    {{partial "host/add-common"}}

    <div class="over-hr r-mt20 r-mb20">
      <span>Dimension Data CloudControl</span>
    </div>

    <style>
      div.checkbox-container {
        text-align: right;
        padding-left: 0px;
        padding-right: 0px;
      }
      input.checkbox-embed {
        margin-top: 4px;
        margin-bottom: 4px;
      }
    </style>

    <div class="row">
      <div class="col-sm-6 col-md-2 form-label">
          <label class="form-control-static">Datacenter</label>
      </div>
      <div class="col-sm-4 col-md-4">
        <div class="input-group">
          {{input type="text"
            class="form-control"
            value=model.ddcloudConfig.datacenter
          }}
        </div>
      </div>
      <div class="col-sm-6 col-md-2 form-label">
        <label class="form-control-static">Network domain</label>
      </div>
      <div class="col-sm-4 col-md-4">
        <div class="input-group">
          {{input type="text"
            class="form-control"
            value=model.ddcloudConfig.networkdomain
          }}
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6 col-md-2 form-label">
          <label class="form-control-static">Image</label>
      </div>
      <div class="col-sm-4 col-md-4">
        <div class="input-group">
          {{input type="text"
            class="form-control"
            value=model.ddcloudConfig.imageName
          }}
        </div>
      </div>
      <div class="col-sm-6 col-md-2 form-label">
          <label class="form-control-static">VLAN</label>
      </div>
      <div class="col-sm-4 col-md-4">
        <div class="input-group">
          {{input type="text"
            class="form-control"
            value=model.ddcloudConfig.vlan
          }}
        </div>
      </div>
    </div>

    <div class="row form-group">
      <div class="col-sm-6 col-md-2 form-label">
          <label class="form-control-static">Use private IP</label>
      </div>
      <div class="col-sm-4 col-md-4">
        <div class="col-md-8 checkbox-container">
          {{input type="checkbox"
            checked=model.ddcloudConfig.usePrivateIp
            class="form-control checkbox-embed"
          }}
        </div>
      </div>
      <div class="col-sm-6 col-md-2 form-label">
          <label class="form-control-static">Rancher public IP</label>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="input-group">
          {{input type="text"
            class="form-control"
            value=model.ddcloudConfig.clientPublicIp
            disabled=model.ddcloudConfig.usePrivateIp
            placeholder="Auto-detect"
          }}
        </div>
      </div>
    </div>

    <div class="row form-group">
      <div class="col-sm-6 col-md-2">
      </div>
      <div class="col-sm-4 col-md-4">
      </div>

      <div class="col-sm-6 col-md-2 form-label">
        <label class="form-control-static">Private IPv4</label>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="input-group">
          {{input type="text"
            class="form-control"
            placeholder="Auto-select"
            value=model.ddcloudConfig.privateIpv4
          }}
        </div>
      </div>
    </div>

    <div class="row form-group">
      <div class="col-sm-6 col-md-2 form-label">
        <label class="form-control-static">CPUs</label>
      </div>
      <div class="col-sm-4 col-md-3">
        <div class="input-group">
          {{input type="text"
            class="form-control"
            value=model.ddcloudConfig.cpuCount
          }}
        </div>
      </div>
      <div class="col-sm-2 col-md-1"></div>
      <div class="col-sm-4 col-md-2 form-label">
        <label class="form-control-static">Memory (GB)</label>
      </div>
      <div class="col-sm-4 col-md-3">
        <div class="input-group">
          {{input type="text"
            class="form-control"
            value=model.ddcloudConfig.memory
          }}
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6 col-md-2 form-label">
        <label class="form-control-static">SSH username</label>
      </div>
      <div class="col-sm-4 col-md-3">
        <div class="input-group">
          {{input type="text"
            class="form-control"
            value=model.ddcloudConfig.sshUser
          }}
        </div>
      </div>
      <div class="col-sm-2 col-md-1"></div>
      <div class="col-sm-4 col-md-2 form-label">
        <label class="form-control-static">SSH key file</label>
      </div>
      <div class="col-sm-4 col-md-3">
        <div class="input-group">
          {{input type="text"
            class="form-control"
            value=model.ddcloudConfig.sshKey
            placeholder="Auto-generate"
          }}
        </div>
      </div>
    </div>

    <div class="row form-group">
      <div class="col-sm-6 col-md-2 form-label">
        <label class="form-control-static">Initial password</label>
      </div>
      <div class="col-sm-4 col-md-3">
        <div class="input-group">
          {{input type="password"
            class="form-control"
            value=model.ddcloudConfig.sshBootstrapPassword
          }}
        </div>
      </div>
      <div class="col-sm-6 col-md-2">
      </div>
      <div class="col-sm-4 col-md-4">
      </div>
    </div>

    <div class="row form-group">
      <div class="col-sm-6 col-md-2 form-label">
        <label class="form-control-static">MCP username</label>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="input-group">
          {{input type="text"
            class="form-control"
            placeholder="CloudControl user name"
            value=model.ddcloudConfig.mcpUser
          }}
        </div>
      </div>

      <div class="col-sm-6 col-md-2 form-label">
        <label class="form-control-static">MCP password</label>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="input-group">
          {{input type="password"
            class="form-control"
            placeholder="CloudControl password"
            value=model.ddcloudConfig.mcpPassword
          }}
        </div>
      </div>
    </div>

    <div class="row form-group">
      <div class="col-sm-6 col-md-2">
      </div>
      <div class="col-sm-4 col-md-4">
      </div>

      <div class="col-sm-6 col-md-2 form-label">
        <label class="form-control-static">MCP region</label>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="input-group">
          {{input type="text"
            class="form-control"
            placeholder="CloudControl region"
            value=model.ddcloudConfig.mcpRegion
          }}
        </div>
      </div>
    </div>

    {{!-- This partial contains the Labels and Advanced Options fields --}}
    {{partial "host/add-options"}}
  </div>

  {{!-- This component shows errors produced by validate() in the component --}}
  {{top-errors errors=errors}}

  {{!-- This component shows the Create and Cancel buttons --}}
  {{save-cancel save="save" cancel="cancel"}}
</section>
